body {
    background-color: #eee;
    color: #3c4858;
    font-family: 'Pontano Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

.tarjeta {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    margin: 50px 0;
    border-radius: 6px;
    background: #fff;
    float: left;
    text-align: center;
    font-size: 14px;
}

/*Establecer 'transition: all' fuera de hover da problemas en Chrome al renderizar elemento con transici칩n durante carga de p치gina*/
.tarjeta header {
    /*margin: -30px 15px 0;*/
    margin: 0 15px;
    position: relative;
    top: -30px;
    z-index: 1;
    transition: all 1s cubic-bezier(.34,1.61,.7,1);
}

.tarjeta:hover header {
    transform: translate3d(0,-50px,0);
}

.tarjeta header:hover img {
    animation: girar 6s forwards; /* propiedad forwards provoca que animaci칩n conserve las propiedades que adquiere en la etapa 100% y no vuelva al estado anterior al inicio de la animaci칩n*/
}

.tarjeta header img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.tarjeta .cuerpo {
    position:relative;
    margin-top: -70px;
}

.tarjeta .cuerpo .iconos i {
    margin-right: 20px;
    user-select: none;
}

.tarjeta .cuerpo h4 {
    padding: 15px 0 5px;
    margin: 0;
}

.tarjeta .cuerpo h4 a {
    color: #3c4858;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.tarjeta .cuerpo .descripcion {
    color: #999;
    overflow: auto;
    height: 120px;
    padding: 10px;
}

.tarjeta footer {
    border-top: 1px solid #eee;
    margin: 20px 15px 0px;
}

.tarjeta footer .precio h4 {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4em;   
    color: #9a9a9a;
}

.clear {
    clear: both;
}

i.fa-edit {
    color: #dbdbdb;
    cursor: pointer;
}

i.fa-edit.activo {
    color: green;
}

i.fa-trash-alt {
    color: red;
    cursor: pointer;
}

@keyframes girar {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    20%, 60% {
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    40%, 80% {
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    100% {
        transform: translate3d(0,700px,0);
        opacity: 0;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .tarjeta {
        width: 100%;
    }    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .tarjeta {
        width: calc(50% - 20px);
        margin-right: 20px;
    }    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .tarjeta {
        width: calc(33.3% - 20px);
        margin-right: 20px;
    }    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .tarjeta {
        width: calc(25% - 20px);
        margin-right: 20px;
    }    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1919.98px) { 
    .tarjeta {
        width: calc(20% - 20px);
        margin-right: 20px;
    }    
}

/* Exceptionally large devices (1920px and up) */
@media (min-width: 1920px) {
    .tarjeta {
        width: 364px;
        margin-right: 20px;
    }    
} 
