* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #161613;
    color: #eeeeee;
    font-family: Verdana, sans-serif;
    font-size: 80%;
}

body a {
    text-decoration: none;
}

header#franja {	
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #c0db5a;
}

/*Menú lateral*/

section#menuLateral { 
    position: fixed; 
    top: 38px; 
    left: 20px;	
    width: 230px; 
}

section#menuLateral > h1 { 
    font-size: 30px;
}

section#menuLateral > h1 > span { 
    color: #d0eb6a;
    font-size: 40px;
}

section#menuLateral a {
    color: #ffffff;
}

#nav { 
    margin: 15px 0 10px 0;
    list-style: none;
    line-height: 10px;
}

#nav > li { 
    padding: 0; 
    margin: 0; 
}

#nav a {
    padding: 10px 10px;
    margin-bottom: 1px;
    color: #eeeeee;
    background-color: #363633;
    font-size: small;
    display: block;
}

#nav a:hover{
    color: #1a1a1a;
    background-color: #d0eb6a;
}	

section#menuLateral > aside {
    padding: 0.75em .5em; 
    border: 1px solid #222222; 
}

section#menuLateral > aside > h3 {
    color: #d0eb6a;
}

section#menuLateral > aside ul { 
    margin-top: .5em; 
    margin-left: 1em; 
    margin-bottom: .5em;
    line-height: 20px;
}

section#menuLateral > aside > p { 
    line-height: 20px;
}

section#menuLateral > aside a { 
    color: #8ad459;
}

/*Contenido - Estilos generales*/

#contenido {
    margin: 25px 10px 10px 290px;
    max-width: 650px;
}

#contenido > section {
    padding: 30px 0 50px;
    border-top: 4px solid #3d3d33;
    overflow: auto;
    width: 100%;
}

#contenido > section:first-child {
    border-top: none;
}

#contenido > section > h2 {
    color: #d0eb6a;
    text-transform: uppercase; 
}

#contenido > section > h3 {
    padding-top: 0.5em;
    color: #d0eb6a;
    text-transform: uppercase; 
}

#contenido > section > p {
    margin-bottom: 1.0em;
    line-height: 1.4em;
}

#contenido ul {
    margin: 5px 0 15px 4px;
    list-style: none;
}

#contenido ul > li {
    padding-left: 13px;
    line-height: 1.75em;
    background: url("../img/bullet.gif") no-repeat 0 8px;
}

#contenido ul > li > span {
    color: #999999;
}

#contenido dl { 
    margin: 0.5em 0 1.2em 0; 
    line-height: 1.5em;
}

#contenido dt {
    padding-top: 0.5em;
    font-weight: bold; 
    color: #999999;
}

#contenido dd {	
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dashed #3d3d33;
}

#contenido a {
    color: #8ad459;
}

#contenido code {
    padding: 0.3em 0.4em;
    font-size: 1.1em;
    background-color: black;
    color: #8d8d73;
}

#contenido pre code {
    margin: 0;
    padding: 0;
}

/*Contenido - Introducción*/

#introduccion > .primerP {
    font-size: 1.2em;
}

/*Contenido - Ejemplo*/

#ejemplo .miniatura {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 3px 3px 8px 3px;
    background-color: #222222;
    border: 1px solid #2a2a2a;
} 

#ejemplo .miniatura img {
    width: 100px;
    height: 50px;
}

/*Contenido - Intrucciones de uso*/

#uso > ol {
    padding: 10px 30px 0;
}

#uso > ol > li {
    line-height: 1.5em;
}

#uso pre {
    display: block;
    padding: 0.5em;
    margin: 1em 0;
    line-height: 2em;
    border-left: 6px solid #0d0d09;
    background-color: black;
    overflow: auto;
}

/*Contenido - Descargar*/

#descargar .download {
    margin: 5px 0 15px 4px;
    padding: 0.5em 1.5em; 
    background-color: #333333;
    border: 1px solid #444444;
    list-style: none;
}

#descargar .download:hover {
    background-color: #555555;
    border: 1px solid #777777;
}

#descargar .download img {
    width: 40px;
    vertical-align: middle;
}

#descargar .download span {
    font-size: 2.25em; 
    font-weight: bold;
    color: white;
    vertical-align: middle;
}

#descargar .download small {
    color: #d0eb6a;
}

#descargar > ul span {
    color: #999999;
}
