body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    user-select: none;
}

h1 {
    font-style: italic;
    text-align: center;
    color: #373fff;
    border: 2px solid black;
}

h2 {
    padding: 10px 0;
    margin-bottom: 0;
    text-align: center;
    background-color: #e0e0e0;
    border-top: 2px solid black;
}

#caja {
    padding: 10px;
    min-height: 92.8px;
    box-shadow: 0 0 10px 0 black;
    text-align: center;
}

ul {
    margin-top: 10px;
    font-size: 0;
}

li span {
    display: block;
    float: right;
    font-weight: bolder;
}

li {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    margin: 2px;
    text-align: left;
    font-size: initial;
}

li.right::before {
    color: green;
    font-weight: bold;
    font-size: smaller;
    content: '\2713\00A0\00A0'
}

li.wrong::before {
    color: red;
    font-weight: bold;
    font-size: smaller;
    content: '\2718\00A0\00A0'
}

input {
    width: 100%;
    box-sizing: border-box; /* only CSS means of getting the element to fit inside its parent */
    font-size: 30px;
    color: grey;
}
