body {
    background-image: url("../img/espiral.gif");
    background-repeat: repeat-y;
    margin-left: 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table > tbody > tr > th, table > tbody > tr > td {
    padding: 0;
    border: 2px solid black;
}
