/*Estilos generales*/

table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    font-variant: small-caps;
    color: #FFFFFF;
    background-color: #666666;
}

caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-variant: small-caps;
    text-transform: uppercase;
}

table > tbody > tr > td:nth-child(1),
table > tbody > tr > td:nth-child(6),
table > tbody > tr > td:nth-child(7),
table > tbody > tr > td:nth-child(8) {
    text-align: right;
}

/*Estilos lista*/

.lista > ul {
    margin: auto;
    padding: 10px;
    background-color: #333333;
    list-style-type: none;
    width: 120px;
    font-weight: bold;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.5em;
}

.lista > ul > li {
    margin: 10px;
    background-color: #999999;
}

.lista > ul > li:hover > a {
    border: 3px outset #333333;
    font-variant: small-caps;
}

/*Estilos tabla 1*/

.tabla1 > tbody > tr:nth-child(odd) {
    background-color: #A4A4A4;
    border: 5px solid #009966;
}

.tabla1 > tbody > tr > td:first-child {
    text-align:right;
}

/*Estilo tabla 2*/

.tabla2 {
    border: 5px solid #707070;
}

.tabla2 > thead > tr > th {
    height: 75px;
}

.tabla2 > thead > tr > th:nth-child(even), .tabla2 > tbody > tr > td:nth-child(even) {
    background-color: #E1E1E1;
}

.tabla2 > tbody > tr {
    background-color: #A4A4A4;
}

.tabla2 > tbody > tr:nth-child(even) {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.tabla2 > tbody > tr:nth-child(odd) {
    border-top: 1px solid #7F7F7F;
    border-left: 1px solid #7F7F7F;
}

/*Estilo tabla 3*/

.tabla3 > tbody > tr:nth-child(odd) > td:nth-child(odd) {
    background-color: #339999;
}

.tabla3 > tbody > tr:nth-child(odd) > td:nth-child(even) {
    background-color: #666699;
}

.tabla3 > tbody > tr:nth-child(even) > td:nth-child(even) {
    background-color: #CCFFCC;
}

.tabla3 > tbody > tr:nth-child(even) > td:nth-child(odd) {
    background-color: #CCCC66;
}

/*Estilo tabla 4*/

.tabla4 {
    border-collapse: separate;
    border-spacing: 5px;
}

.tabla4 > caption {
    background-color: #DC1F1F;
    border: medium outset #dc1f1f;
}

.tabla4 > thead > tr > th {
    height: 75px;
}

.tabla4 > thead > tr > th:nth-child(odd), .tabla4 > tbody > tr > td:nth-child(odd) {
    background-color: #DC1F1F;
    border: medium outset #dc1f1f;
}

.tabla4 > thead > tr > th:nth-child(even), .tabla4 > tbody > tr > td:nth-child(even) {
    background-color: #D89334;
    border: medium outset #D89334;
}
